/* Default category button style */
.categories button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    /* Adds space between buttons */
}

.categories {
    display: flex;
    width: 100%;
    overflow-x: auto;
    /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    /* Enables smooth scrolling on touch devices */
    flex-wrap: nowrap;
    /* Prevents wrapping, making it scrollable horizontally */
    justify-content: space-between;
    /* Aligns buttons to the left */
}

/* Hide scrollbar */
.categories::-webkit-scrollbar {
    display: none;
}

/* Style the buttons inside the categories */
.category-container {
    width: 100%;
}

.category-btn img,
.search-btn img {
    width: 25px;
    margin-bottom: 5px;
    /* Adds space between image and text */
}



.category-btn {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: color 0.3s, fill 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    /* Ensures each button aligns with the start of the container */
}

/* Active category button style (when selected) */
.category-btn.active {
    color: #00a6ff;
    /* Blue text */
}

.category-btn.active p,
.search-btn.active p {
    border-bottom: 1px solid #00a6ff;
    /* Blue text */
    color: #00a6ff;
}

.category-btn p,
.search-btn p {
    margin: 0;
    color: #888888;
}

/* Active category button style (when selected) */
.category-btn.active img {
    fill: #00a6ff;
    /* Blue color for SVG icons */
    filter: brightness(0) saturate(100%) invert(36%) sepia(88%) saturate(5216%) hue-rotate(180deg) brightness(95%) contrast(103%);
    /* For SVG images */
}

/* Default search button style */
.search-btn {
    padding: 10px 0px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Active search button style (when active) */
.search-btn.active {
    color: #007bff;
    /* Blue text */
}

.search-btn.active img {
    fill: #00a6ff;
    /* Blue color for SVG icons */
    filter: brightness(0) saturate(100%) invert(36%) sepia(88%) saturate(5216%) hue-rotate(180deg) brightness(95%) contrast(103%);
    /* For SVG images */
}

.vertical-line2 {
    width: 1px;
    margin: 10px 0px;
    background-color: #888888;
    opacity: .5;
    display: inline-block;
}

@media screen and (max-width: 800px) {
    .categories {
        justify-content: flex-start;
    }

    .vertical-line2 {
        min-width: 1px;
        margin: 10px 10px;
        background-color: #888888;
        opacity: .5;
        display: inline-block;
    }
}