.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.footer-logo:hover {
    opacity: 0.7;
}


.footer-logo img {
    width: 20px;
    margin-bottom: 5px;
    padding: 3px;
}

.footer div p {
    padding: 0;
    margin: 0;
    color: #888888;
    font-size: .8em;
    font-family: "Inter", serif;
}

.footer-logo.active img {
    border-radius: 50%;
    border: 1px solid #00a6ff;
}

.footer-logo.active img {
    fill: #00a6ff;
    /* Blue color for SVG icons */
    filter: brightness(0) saturate(100%) invert(36%) sepia(88%) saturate(5216%) hue-rotate(180deg) brightness(95%) contrast(103%);
    /* For SVG images */
}

.footer-logo.active p {
    color: #00a6ff;
}

/* Optional: Add a hover effect to emphasize the interactive nature */


@media screen and (max-width: 450px) {
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        position: sticky;
        bottom: 0;
        width: 100%;
    }
}