.gamesimg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0px 0;
}

.gamesimg .gameimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamesimg img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.gameimg {
    position: relative;
    display: inline-block;
}

.star-button {
    position: absolute;
    padding: .5em;
    top: 0px;
    right: 0px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 40px;
    color: gray;
}

.star-button.favorited {
    color: gold;
}

@media (max-width: 1024px) {
    .gamesimg {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .star-button {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0px;
        right: 1px;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: gray;
    }

    .gamescont {
        min-height: 60vh;
    }
}