.navleft {
    display: flex;
    gap: 10px;
}

.navright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
}

.primary-text {
    color: #00a6ff;
    font-weight: bolder;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divider {
    color: #00a6ff;
}

.vertical-line {
    width: 1px;
    height: 25px;
    background-color: #00a6ff;
    opacity: .5;
    display: inline-block;
}